.card1__component_wrap {
  width: 340px;
  max-width: 100%;
  height: 528px;
  box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  padding: 15px;
}
.card1__component_header {
  display: flex;
  justify-content: space-between;
}
.card1__component_hdrleft {
  display: flex;
  text-decoration: none;
  color: black;
}
.card1__component_hlimgwrap {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  overflow: hidden;
}
.card1__component_hlimg {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.card1__component_hlcontent {
  padding-left: 5px;
}
.card1__component_hlcname {
  font-size: 11px;
  font-weight: 600;
  line-height: 11px;
  letter-spacing: 0em;
  display: flex;
  align-items: center;
  padding-top: 3px;
}
.card1__component_hlchandle {
  font-size: 10px;
  font-weight: 600;
  line-height: 10px;
  letter-spacing: 0em;
  margin-top: 2px;
}
.card1__component_hrfollowbtn {
  font-size: 14px;
  font-weight: 800;
  line-height: 15px;
  letter-spacing: 0em;
  color: rgba(29, 93, 199, 1);
  cursor: pointer;
  display: flex;
  align-items: center;
}
.card1__component_hrfollowbtnicn {
  font-size: 14px !important;
  margin-right: 2px;
}
.card1__component_hrfollowcount {
  font-size: 9px;
  font-weight: 800;
  line-height: 10px;
  letter-spacing: 0em;
  color: rgba(78, 78, 78, 1);
  margin-top: 3px;
  text-align: start;
}
.card1__component_hdrcenter {
  flex: 1;
  height: 100%;
}
.card1__component_media {
  width: 100%;
  height: 250px;
  border-radius: 5px;
  overflow: hidden;
  position: relative;
  background-color: rgba(0, 0, 0, 0.838);
  max-height: fit-content;
  margin: 5px 0;
}
.play-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
  z-index: 1; /* Ensure it's above the player */
}
.card1__component_stats {
  display: flex;
  justify-content: space-between;
  padding: 0 5px;
}
.card1__component_statitem {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.card1__component_statitemicon {
  color: rgba(29, 94, 201, 1);
  cursor: pointer;
  width: 20px;
  height: 18px;
  font-size: 20px !important;
  object-fit: contain;
}
.card1__component_statitemtext {
  color: rgba(29, 94, 201, 1);
  font-size: 11px;
  padding-top: 2px;
}
.card1__component_title {
  font-size: 14px;
  font-weight: 900;
  line-height: 15px;
  letter-spacing: 0em;
  color: rgba(92, 92, 92, 1);
  margin: 8px 0 3px 0;
  display: inline-block;
}
.card1__component_tags {
  display: flex;
  align-items: center;
  font-size: 13px;
  font-weight: 700;
  line-height: 15px;
  letter-spacing: 0em;
  color: rgba(0, 186, 242, 1);
}
.card1__component_tag {
  margin: 5px 5px 5px 0;
}
.card1__component_desc {
  padding-top: 5px;
  font-size: 13px;
  font-weight: 300;
  line-height: 17px;
  letter-spacing: 0em;
  text-align: left;
  color: rgba(92, 92, 92, 1);
}
.card1__component_descreadmore {
  font-size: 13px;
  font-weight: 700;
  line-height: 17px;
  letter-spacing: 0em;
  text-align: left;
  color: rgba(29, 93, 199, 1);
  padding-left: 5px;
}
.card1__component_pricesec {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
}
.card1__component_priceleft {
  font-size: 16px;
  font-weight: 600;
  line-height: 17px;
  letter-spacing: 0em;
  color: rgba(66, 66, 66, 1);
}
.card1__component_priceright {
  font-size: 12px;
  font-weight: 500;
  line-height: 10px;
  letter-spacing: 0em;
  color: rgba(78, 78, 78, 1);
}
.card1__components_footer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 0;
}
.card1__components_fbtn {
  background: linear-gradient(80deg, #1d5ec9 0%, #265c81 100%);
  color: white;
  font-size: 10px;
  padding: 5px 7px;
  border-radius: 8px;
  cursor: pointer;
  display: flex;
  align-items: center;
}
.card1__components_fbtnicn {
  padding-right: 4px;
  font-size: 14px !important;
}
